<footer>
        <section class="app-footer">
            <div class="container">
                <div class="row6">
                    <div class="col4">
                        
                       <div class = "app-footer__logo-wrapper">
                            <div class = "app-footer__logo">
                                <img src="https://cdn.freebiesupply.com/logos/large/2x/atn-02-logo-png-transparent.png" alt="See the source image" class=" nofocus" tabindex="0" aria-label="See the source image" data-bm="21" width="100px" height="100px">
                            </div>
                            <ul class="app-footer__social-list">
                                <li><a href="#"><i class= "fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class= "fab fa-youtube"></i></a></li>
                                <li><a href="#"><i class= "fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class= "fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class= "fab fa-whatsapp"></i></a></li>
                                <li><a href="#"><i class= "fab fa-weibo"></i></a></li>
                            </ul>
                        </div>
                       
                    </div>
                    <div class="col4">
                        <ul class="app-footer__menu">                    
                            <li><a href="/">Home</a></li>
                            <li><a href="/aboutus">About us</a></li>
                            <li><a href="/product">Products</a></li>
                            <li><a href="/order">Order</a></li>
                            <li><a href="/admin">Admin</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/user/create">Sign Up</a></li>
                            <li><a href="/contact/create">ContactUS</a></li>
                       </ul>
                        <p class = "app-footer__text">Designing and coding by Le Na</p>
                        
                    </div>
                </div>
            </div>
        </section>
    </footer>
    